body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr; 
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
  gap: 5px;
  background-color:#2b2b2b
}

header {
  grid-area: header;
  background-color: #151515;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: #151515;
  text-align: center;
}

article {
  grid-area: article;
  background-color: #151515;
  color:#eaeaea;
  padding: 20px;
}

aside {
  grid-area: ads;
  background-color: #151515;
  
}

footer {
  grid-area: footer;
  background-color: #151515;
  padding: 20px;
  text-align: center;
  font-family: Arial;
  color:#6f6f6f;
}

a {
  font-family: Arial;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color:#6f6f6f
}

a:hover {
  color:#eaeaea
}

a img {
  display: block;
}

p {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color:#6f6f6f;
}

h4 {
  font-family: Arial;
  text-align: center;
  color:#6f6f6f;
}

pre {
  font-family: Arial;
  font-size: 17px;
  color:#6f6f6f;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color:#6f6f6f;
}

.filmografia {
  text-align: center;
}

.cadastro {
  color:#6f6f6f;
  width: 500px; 
  height: auto;
  background-color: #2b2b2b;
  border: 2px solid #6f6f6f; 
  border-radius: 10px;
  border-radius: 10px;
  margin: 20px auto;
  margin: 20px auto;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.album {
  text-align: center;
}